
body{background-color: #3f7e44;
    background: linear-gradient(to right, ) }
    
    .container{
        background-color: #fff;
        width: 450px;
        padding: 1.5rem;
        margin: 50px auto;
        border-radius: 10px;
        box-shadow: 0 20px 35px rgba(0,0,1,0.9);
    }
    
    .container1{
        background-color: #ffffff;
        width: 450px;
        padding: 1.5rem;
        margin: 50px auto;
        border-radius: 10px;
        box-shadow: 0 20px 35px rgba(0,0,1,0.9);
    }
    
    form{
        margin: 0 2rem;
    }
    
    .form-title{
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        padding: 1.3rem;
        margin-bottom:0.4rem;
    }
    input{ 
        color: inherit;
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #757575;
        padding-left: 1.5rem;
        font-size: 15px;
    }
    .input-group{
        padding: 15px 0;
        position: relative;
    
    }
    .input-group2{
        padding: 15px;
        position: relative;
    }
    
    .input-group i {
        position: absolute;
        color: rgb(46, 116, 6);
    
    }
    
    input:focus{
        background-color: transparent;
        outline: transparent;
        border-bottom: 2px solid color hsl(327, 69%, 22%);
    }
    
    input::placeholder{
        color: transparent;
    }
    
    label{
        color: #08921b;
        position: relative;
        left: -1.rem;
        top: -2.5rem;
        cursor: auto;
        transition: 0.3s ease all;
    }
    input:focus~label, input:not(::placeholder-shown)~label{
     top:-3em;
     color: hsl(133, 92%, 35%);
     font-size: 15px;
    }
    .recover{
        text-align: right;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .recover a{
        text-decoration: none;
        color: rgb(125, 125, 235);
    }
    
    .recover a:hover{
        color: rgb(23, 151, 6);
        text-decoration: underline;
    }
    
    .btn{
        font-size: 1.1rem;
        padding: 8px 0;
        outline: none;
        border: none;
        width: 100%;
        background-color: rgb(11, 131, 57);
        color: white;
        cursor: pointer;
        transition: 0.9s;
    }
    .btn:hover{
        background-color: rgb(74, 190, 83);
    }
    
    .or{
        font-size: 1.1rem;
        margin-top: 0.5rem;
        text-align: center;
        padding: 20px;
    }
    .icons{
        text-align: center;
    }
    .icons i{
        color:#3f7e44;
        padding: 0.8rem 1.5rem;
        font-size: 1.5rem;
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid #dfe9f5;
        margin: 0 15px;
        transition: 1s;
    }
    
    .icons i:hover{
        background:rgba(10, 224, 3, 0.493) ;
        font-size: 1.6rem;
        border: 2px solid rgb(11, 131, 57);
    
    }
    .links{display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 0.9rem;
    font-weight: bold;}
    
    button{color: rgb(8, 153, 69);
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;}
    
    button:hover{
        text-decoration: underline;
        color: rgb(6, 156, 44);
    }